[Unit]
Description=PhotoShare Gunicorn Application
After=network.target

[Service]
EnvironmentFile=/etc/systemd/system/env/photoshare
WorkingDirectory=/mnt/web/photoshare
ExecStart=/opt/photoshare_venv/bin/gunicorn app:app --bind 127.0.0.1:5000 --workers 4 --worker-class gevent --access-logfile /var/log/photoshare/access_log.txt --error-logfile /var/log/photoshare/error_log.txt --timeout 100 --keep-alive 4
Restart=always
Environment="PATH=/opt/photoshare_venv/bin"
KillMode=mixed
TimeoutStopSec=10
RestartSec=5


[Install]
WantedBy=multi-user.target
