{% extends "base.html" %}

{% block title %}PhotoShare{% endblock %}

{% block content %}
<div class="logo-container">
    <img src="{{ url_for('static', filename='aa-site-logo.png') }}" alt="Site Logo" class="logo">
</div>
<h1>Directories:</h1>
<ul class="grid-container">
    {% for directory in directories %}
    <li class="grid-item">
        <a href="{{ url_for('show_directory', directory=directory) }}">
            <img src="{{ url_for('static', filename='folder-icon-design-vector.jpg') }}" alt="Folder Icon">
            <br>
            {{ directory }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
