<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="noindex">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ directory }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Classic favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">

    <!-- Various sized favicons -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">

    <!-- Android Icons -->
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='android-chrome-512x512.png') }}">

    <!-- Site manifest -->
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
</head>
<body>
	<header>
        <nav class="topnav">
            <a class="nav-logo" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='aa-site-logo.png') }}" alt="Tiny Site Logo">
            </a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
    </header>
    <main>
        <h1>{{ directory }}</h1>
        <div class="pagination-container">
            {% if total_pages > 1 %}
            <nav class="pagination">
                {% if current_page > 1 %}
                <a href="{{ url_for('show_directory', directory=directory, page=1) }}">First</a>
                <a href="{{ url_for('show_directory', directory=directory, page=current_page - 1) }}">Previous</a>
                {% endif %}
                <span>Page {{ current_page }} of {{ total_pages }}</span>
                {% if current_page < total_pages %}
                <a href="{{ url_for('show_directory', directory=directory, page=current_page + 1) }}">Next</a>
                <a href="{{ url_for('show_directory', directory=directory, page=total_pages) }}">Last</a>
                {% endif %}
            </nav>
            {% endif %}
        </div>
	<section class="grid-container">
{% if not subdirs and not files %}
<p>No files or directories found.</p>
{% else %}
    {% if subdirs %}
        {% for subdir in subdirs %}
            <!-- Display directory links -->
            <article class="grid-item">
                <a href="{{ url_for('show_directory', directory=directory + '/' + subdir) }}">
                    <img src="{{ url_for('static', filename='folder-icon-design-vector.jpg') }}" alt="{{ subdir }}" loading="lazy"> <!-- Using a folder icon for directories -->
                    <span>{{ subdir }}</span>
                </a>
            </article>
        {% endfor %}
    {% endif %}
    {% for file in files %}
    <article class="grid-item">
        {% if file.lower().endswith(('.jpg', '.jpeg', '.png')) %}
        <a href="{{ url_for('static', filename='media/' + directory + '/' + file) }}">
            <img src="{{ url_for('static', filename='media/' + directory + '/' + file) }}" alt="{{ file }}" loading="lazy">
        </a>
        {% elif file.lower().endswith('.mp4') %}
        <div class="video-wrapper">
            <a href="{{ url_for('static', filename='media/' + directory + '/' + file) }}">
                <video width="320" height="240" controls loading="lazy">
                    <source src="{{ url_for('static', filename='media/' + directory + '/' + file) }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </a>
            <a class="video-download-link" href="{{ url_for('static', filename='media/' + directory + '/' + file) }}" download="{{ file }}">{{ file[:-4] }}</a>
        </div>
        {% elif file.lower().endswith('.mov') %}
        <a href="{{ url_for('static', filename='media/' + directory + '/' + file) }}">
            <video width="320" height="240" controls loading="lazy">
                <source src="{{ url_for('static', filename='media/' + directory + '/' + file) }}" type="video/quicktime">
                Your browser does not support the video tag.
            </video>
        </a>
        {% endif %}
    </article>
    {% endfor %}
{% endif %}
</section>
    </main>
</body>
</html>

