<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photoshare</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Classic favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">

    <!-- Various sized favicons -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">

    <!-- Android Icons -->
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='android-chrome-512x512.png') }}">

    <!-- Site manifest -->
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
</head>
<body>
    <header>
        <nav class="topnav">
            <a class="nav-logo" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='aa-site-logo.png') }}" alt="Tiny Site Logo">
            </a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
    </header>
    <main>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='aa-site-logo.png') }}" alt="Site Logo" class="logo">
        </div>
        <h1>Directories:</h1>
        <ul class="grid-container">
            {% for directory in directories %}
            <li class="grid-item">
                <a href="{{ url_for('show_directory', directory=directory) }}">
                    <img src="{{ url_for('static', filename='folder-icon-design-vector.jpg') }}" alt="Folder Icon">
                    <br>
                    {{ directory }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
